$colors: (
    common: (white: #000,
        black: #000,
    ),
    heading: (primary: #0f1432,
    ),
    grey: (1:#eef3f7,
        2:#eef3f7,

    ),
    text: (body:#000,
        1:#000,
    ),
    theme: (1: #3D6CE7,

    ),
    border: (1: #000,
    )
);