@use '../utils' as *;

.tj-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 19px 40px;
    background: #692FFD;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    line-height: 1;
}