@use '../utils' as *;

.bg-gray {
    background-color: #F7F6FB;
}

.tj-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #692ffd;
    margin-bottom: 24px;
    display: block;
}

.tj-section-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
}

.tj-section-title.fnt-30 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section-wrap {
    & p {
        font-size: 18px;
        line-height: 26px;
        color: #4f5158;

        & br {
            @media #{$md} {
                display: none;
            }
        }
    }
}

.gx-70 {
    --bs-gutter-x: 70px;

    @media #{$lg} {
        --bs-gutter-x: 30px;
    }
}

.tjskill {
    margin-bottom: 100px;

    &__thumb {
        & img {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    &__content {
        & p {
            line-height: 24px;
            font-size: 15px;
            color: #4f5158;
            padding-right: 5px;
        }
    }
}